body {
  --color-green-dark: #062726;
  --color-blue-dark: #102b3f;
  --color-purple-dark: #6247aa;
  --color-purple: #a06cd5;
  --color-purple-light: #e2cfea;

  font-family: 'roboto';
}

nav {
  
}

.link {

}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--color-purple-dark);
  color: white;
}
