/*  BAKGRUNNSFARGE for de ulike oppgaveseksjonene
-----------------------------------------------
Under bruker vi en fargevariabel vi har satt i css-filen "generalStyling.css". Det går også helt fint å erstatte "var(--color-purple-light)" med en HEX fargekode direkte. 

Erstatt:  background-color: var(--color-purple-light); 
med: background-color: #e1bee7;
*/
.stylingForSeksjon1 {
  background-color: var(--color-purple-light);
}

.stylingForSeksjon2 {
  background-color: var(--color-purple);
  color: var(--color-purple-light);
}

.stylingForSeksjon3 {
  background-color: var(--color-purple-dark);
  color: var(--color-purple-darker);
}

.stylingForSeksjon4 {
  background-color: var(--color-blue-darker);
  color: var(--color-purple-light);
}

/* ------ OM GRUPPA (oppg.2) ------ */

.omOss ul {
  list-style-type: '☺️';
}

.omOss li {
  padding: 3px 0 15px 20px;
}

/* ------PERSONLIG AVATAR (oppg.3) ------*/

.avatar {
  padding-left: 30px;
}

.avatar p {
  padding: 2px 0 2px 10px;
}

/* ------- KONFETTI KNAPP (oppg.4) ---- */

.konfetti-knapp {
  font-family: 'roboto';
  font-weight: 600;
  font-size: larger;
  color: var(--color-purple-light);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 3px solid var(--color-purple-lighter);
  background-color: var(--color-purple-dark);
}

/* ✨ Lim inn kodesnutten for oppg 4b her  */
.konfetti-knapp:hover {
  background-color: var(--color-purple-darker);
}