body {
  /* FARGE VARIABLER */
  --color-green-dark: #062726;
  --color-blue-dark: #102b3f;
  --color-blue-darker: #121b3c;
  --color-purple-dark: #6247aa;
  --color-purple: #8000ff;
  --color-purple-light: #5fff03;
  --color-purple-lighter: #e2cfea;
  --color-purple-darker: #00d9ff;

  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', sans-serif;
}

header {
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--color-purple-dark);
  color: white;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
}

header > h1 {
  margin: 0;
}

section {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

section > h2 {
  padding-bottom: 0.5rem;
}

section p {
  padding-right: 4rem;
}

main > section:last-child {
  min-height: 300px;
}
