#about {
  position: relative;
  padding: 30px;
  top: 50px;
}

#about-title {
  color: var(--color-pink-darker);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#list-container {
  text-align: center;
}

ul {
  display: inline-block;
  color: var(--color-pink-light);
  margin: auto;
  list-style-type: '🌈';
}

li {
  padding: 3px 0 15px 25px;
}

.stylingForOppgave1 {
  background-color: var(--color-purple-light);
}

.stylingForOppgave2 {
  background-color: var(--color-purple);
}

.stylingForOppgave3 {
  background-color: var(--color-purple-dark);
}
